<div class="create">
    <div class="create-intro">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum distinctio porro, quo iure delectus beatae ipsam reiciendis repellendus deserunt, corporis laboriosam assumenda nam nesciunt dolores maiores incidunt. Quia, eveniet incidunt.
    </div>

    <div class="create-box">
        <form method="post" action="/unsaid/create" class="create-form">
            <div class="create-post">
                <label for="user" style="font-size: 1.4rem;">Username</label>&nbsp;
                <input type="username" name="username" id="user" style="height: 2.2rem; border-radius: 0.8rem; border: none; "><br><br>
            <textarea name="content" id="content"  placeholder="Write your thoughts here"></textarea>
            </div>
        <button class="btn-post">POST</button>
        </form>    
    </div>
</div>

