<div class="create">
    <div class="create-intro">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum distinctio porro, quo iure delectus beatae ipsam reiciendis repellendus deserunt, corporis laboriosam assumenda nam nesciunt dolores maiores incidunt. Quia, eveniet incidunt.
    </div>

    <div class="create-box">
        <form method="post" action="/unsaid/<%- post.id %>?_method=PUT" class="create-form" method=" post">
            <div class="create-post">
            <textarea name="content" id="edit-content"><%- post.content %></textarea>
            </div>
        <button class="btn-post">EDIT</button>
        </form>    
    </div>
</div>

