<section class="login">
    <div>
        <h1 class="login-logo">
            <span class="un-wrapper">
                <span class="strike"></span>
                <span class="un">Un</span>
            </span>
            <span class="said">Said</span>
        </h1>

        <h4>Where feelings find Ink</h4>

        <div class="login-container">
            <% if (typeof msg !== "undefined") { %>
    <p class="error" style="color:red; margin-bottom:10px; font-size: 1.3rem;"><%= msg %></p>
<% } %>

            <form action="/api/auth/login" method="POST" class="login-form">

                <input type="email" id="email" placeholder="Enter Email" name="email" required>

                <br><br>

                <!-- FIXED: name="password" -->
                <input type="password" id="password" placeholder="Enter Password" name="password" required>

                <br><br>

                <!-- FIXED: removed onclick -->
                <button class="submit-btn"  type="submit">LOGIN</button>
            </form>

            <p>Don't have an account? 
                <a href="/unsaid/signUp">Sign Up</a>
            </p>
            <p>Forgot Password ?</p>
        </div>
    </div>
</section>
