<section class="signUp">
    <div>
        <h1 class="signUp-logo">
            <span class="un-wrapper">
                <span class="strike"></span>
                <span class="un">Un</span>
            </span>
            <span class="said">Said</span>
        </h1>
        <h4>Where feelings find Ink</h4>
        <div class="signUp-container">
            <form class="login-form">
                <input type="text" id="name" placeholder="Enter Your Name" required>
                <br><br>
                <input type="email" id="email" placeholder="Enter Email" required>
                <br><br>
                <input type="password" id="pass" placeholder="Enter Password">
                <br><br>
                <input type="password" id="Conpass" placeholder="Confirm Password">
                <br><br>
                <button class="submit-btn">SIGN UP</button>
            </form>
        </div>
     </div>
</section>

