<nav>
    <div class="navbar">
        <h1 class="logo">
            <span class="un-wrapper">
                <span class="strike"></span>
                <span class="un">Un</span>
            </span>
            <span class="said">Said</span>
        </h1>

        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-links">
            <li><a href="/unsaid/login">Login</a><span style="color: white; font-weight: 900; font-size: 1.5rem;">/</span><a href="/unsaid/signup">SignUp</a></li> 
            <li><a href="/unsaid/viewAll">Home</a></li>
            <li><a href="/unsaid/create">Write</a></li>
            <li><a href="/unsaid/myPosts">My Posts</a></li>
            <li><a href="/api/auth/logout">Logout</a></li>

        </ul>
    </div>
</nav>
