<nav>
    <div class="navbar">
        <h1 class="logo">
            <span class="un-wrapper">
                <span class="strike"></span>
                <span class="un">Un</span>
            </span>
            <span class="said">Said</span>
        </h1>

        <div class="hamburger" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-links">
            <li><a href="/unsaid/login">Login</a></li>
            <li><a href="/unsaid/viewAll">Home</a></li>
            <li><a href="/unsaid/create">Write</a></li>
            <li><a href="/unsaid/view">My Posts</a></li>
        </ul>
    </div>
</nav>
